*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden;
  }
}

body{
  background-color: #373737;
}
.grid{
  margin-top:5%;
  display: grid;
  justify-content: center;
  align-content: center;
  column-gap: 40px;
  row-gap: 50px;
  grid-template-areas:
      ". . . ."
      ". . . .";

}
img{
  width: 50px;
  margin-top: 10px;
  margin-bottom: 20px;

}

hr{
  position: absolute;
  width: 80px;
  margin-top: 140px;
}
.text{
  margin-bottom: 70px;
}
.card{

  padding: 20px;
  color: white;
  background-color: #545454;
  width: 150px;
  height: 220px;
  justify-self: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: 10px 5px 5px #252525;
}
svg{
  width: 20px;
  fill: white;
}
.btn{

  position:absolute;
  margin-top: 200px;
  background-color:#757575 ;
  border-radius: 19px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.btn:hover{
    animation: shadow 500ms ease-in-out both alternate;
}
@keyframes shadow {
  0% {box-shadow: 0px 0px 0px #252525;}
  100% {box-shadow: 10px 5px 5px #252525;transform: scale(1.1);}
}
.sidebar{
  background-color: #404A4F;
  float: left;
  padding: 30px;
  box-shadow: 10px 5px 5px #252525;
  height: 100%;
  position: absolute;
  top: 0px;


}
.side-link{
  margin-top: 30px;
  margin-bottom: 30px;
  color:white;
  font-size: 150%;

}
